<%- include("partials/header") -%>

<div>
  <h1>Compose</h1>

  <form action="/compose" method="post">
    <div class="form-group">

      <label>Title</label>
      <input class="form-control" type="text" name="postTitle" placeholder="Enter Text" autocomplete="off">
      <label>Post</label>
      <textarea class="form-control" name="postBody" cols="40" rows="5"></textarea>

    </div>

    <button class="btn btn-primary" type="submit" name="button">publish</button>

  </form>

</div>

<%- include("partials/footer") -%>